{% extends 'authentication/base_login.html' %}
{% load staticfiles %}

{% block  content %}
    <div class="login">
        <div class="on_top">
            <div class="container">
                <div class="row" id="profile_cont">
                    <div class="col-md-8 col-md-offset-2" id="profile">
                        {% include "authentication/includes/nav.html" %}
                        {% if user.is_authenticated %}
                            <div class="row" style="padding: 10px">
                                <div class="col-sm-4">
                                    <img src="{% static 'authentication/img/img.svg' %}" alt="{% static 'authentication/img/img.svg' %}" width="160px" height="160px" class="img-rounded">
                                    
                                    <h4 class="small">STUFF</h4>
                                    
                                </div>
                                <div class="col-sm-8">
                                    {% for message in messages %}
                                        <div class="alert alert-danger" id="c_alert" role="alert"><strong>{{message}}</strong></div>
                                    {% endfor %}
                                    <h5 class="">User Information</h5><hr/>
                                    <p><strong>Username:</strong> {{ user.username }}</p>
                                    <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                                    <p><strong>Email:</strong> {{ user.email }}</p>
                                    <a href="{% url 'edit' %}" class="btn btn-brown btn-custom">Edit profile</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="jumbotron">
                                <h2 class="display-4">Welcome to User Authentication App</h2>
                                <p class="lead">A step foward to mastering the art of the django framework.</p>
                            </div>
                            <div class="text-center mbtn">
                                <a href="{% url 'register' %}" class="btn btn-success btn-lg btn-custom">Signup</a> 
                                <a href="{% url 'login' %}" class="btn btn-brown btn-lg btn-custom">Login</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
