<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-brown" href="{% url 'home' %}">Authentify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit' %}"><span class="text-secondary">Edit Profile</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'change_password' %}"><span class="text-secondary">Change Password</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><span class="text-secondary">Logout</span></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><span class="text-secondary">Login</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}"><span class="text-secondary">Signup</span></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>